<!--

<amp-carousel id="carousel-with-preview"
    width="450"
    height="300"
    layout="responsive"
    type="slides">
    {{#each content}}
      <div class="product-details">
        <div class="image-container">
          <amp-img src="{{this.iu}}"
            width="1.5" height="1" layout="responsive"
            alt="{{dt}}"></amp-img>
            <h3>{{this.dt}}</h3>
            <p>Rs.{{this.pr}}<p>
            <a target="_blank" href="{{this.du}}">View Product</a>
        </div>
      </div>
    {{/each}}
</amp-carousel> -->
<script>
  var swappName = ("Wishlist" || "Wishlist");
  var swymJSObject = {
    pid: "{{{pid}}}"
  };
  window.swymCart = {};
  window.swymJSShopifyLoad = function(){
    if(window.swymPageLoad) swymPageLoad();
    if(!window._swat) {
      (function (s, w, r, e, l, a, y) {
        r['SwymRetailerConfig'] = s;
        r[s] = r[s] || function (k, v) {
          r[s][k] = v;
        };
      })('_swrc', '', window);
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('Callback', function(){
        //initSwymShopify();
      });
    }else if(window._swat.postLoader){
      _swrc = window._swat.postLoader;
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('Callback', function(){
        //initSwymShopify();
      });
    }else{
      //initSwymShopify();
    }
  }
  if(!window._SwymPreventAutoLoad) {
    swymJSShopifyLoad();
  }
</script>
<script type="text/javascript" src="//swymdev.azureedge.net/code/swym.js"></script>
<script src="/javascripts/roaming.js"></script>
<button>Create a shopping list</button>
