<!--

<amp-carousel id="carousel-with-preview"
    width="450"
    height="300"
    layout="responsive"
    type="slides">
    {{#each content}}
      <div class="product-details">
        <div class="image-container">
          <amp-img src="{{this.iu}}"
            width="1.5" height="1" layout="responsive"
            alt="{{dt}}"></amp-img>
            <h3>{{this.dt}}</h3>
            <p>Rs.{{this.pr}}<p>
            <a target="_blank" href="{{this.du}}">View Product</a>
        </div>
      </div>
    {{/each}}
</amp-carousel> -->
<script>
  var swappName = ("Wishlist" || "Wishlist");
  var swymJSObject = {
    pid: "{{{pid}}}"
  };
  var homeDomain = "{{{domain}}}";
  var articleInfo = JSON.parse('{{{articleInfo}}}');
  window.swymCart = {};
  window.swymJSShopifyLoad = function(){
    if(window.swymPageLoad) swymPageLoad();
    if(!window._swat) {
      (function (s, w, r, e, l, a, y) {
        r['SwymRetailerConfig'] = s;
        r[s] = r[s] || function (k, v) {
          r[s][k] = v;
        };
      })('_swrc', '', window);
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('Callback', function(){
        //initSwymShopify();
      });
    }else if(window._swat.postLoader){
      _swrc = window._swat.postLoader;
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('Callback', function(){
        //initSwymShopify();
      });
    }else{
      //initSwymShopify();
    }
  }
  if(!window._SwymPreventAutoLoad) {
    swymJSShopifyLoad();
  }
</script>

<div class="widget-container">
  <!-- <button class="button button-outline" style="margin:0" id="create-shopping-list">Create a shopping list</button> -->
  <div id="modal-container" class="container">
    <div class="row">
      <div class="column">
        <div class="header">
          <h5>Create a shopping list</h5>
          <!-- <a href="#" class="cross" onClick="closeModal(event)">x</a> -->
        </div>
      </div>
    </div>
    <div class="row menu">
      <div class="column">
        <div id="user-lists-menu-item" class="menu-item active">
          <a href="#" onClick="renderUserLists(event)" class="my-lists"><p><strong>My Lists</strong></p></a>
        </div>
      </div>
      <div class="column">
        <div id="dish-products-menu-item" class="menu-item">
          <a href="#" onClick="renderDishProducts(event)" class="all-products"><p><strong>All Items</strong></p></a>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div class="row products-row">
        <div class="column">
          <div id="items-container">

          </div>
        </div>
      </div>
      <div class="call-to-action">
        <div class="clearfix">
          <div class="float-left">
            <button id="add-to-list">Add to list</button>
          </div>

          <div class="float-right">
            <button id="shop-on-site">Shop on site</button>
          </div>
          <!-- <button id="shop-on-site">Shop on site</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="//swymdev.azureedge.net/code/swym.js"></script>
<script src="/javascripts/roaming.js"></script>


<!-- <script>
  var createShoppingListBtn = document.getElementById("create-shopping-list");
  createShoppingListBtn.addEventListener("click", function(e){
    //window.localStorage.setItem("open-modal", true);
    document.getElementById("modal-container").style.display = "block";
  });
</script> -->
